$fontfamily: Nanum Gothic, sans-serif;              // font family

//===Colors===============================================//

$headerbackcol: #7477BF;
$fontcolprime: white;
$navbackcol: #4D4C72;
$statfontcolor: #777777;
$bordercolor: #D5D5D5;
$backcolor: #F5F5F5;


$mqmdbreak: 768px;
$mqlgbreak: 1024px;
