.dash{
  display: flex;
  h2{
    margin: 30px 30px 30px 20px;
  }
  .aside-dash{
    height: inherit;
    width: 100%;
    background-color: #F7F7F7;
    border: 1px solid darkgray;
  }
}

.alert-box{
  margin: 30px 20px;
  padding: 12px 8px;
  font-size: .9em;
  background-color: $headerbackcol;
  color: $fontcolprime;
  border-radius: 8px;
  display: flex;
  align-items: center;
  @media screen and (min-width: $mqmdbreak) {
    padding: 12px 20px;
    font-size: 1.1em;
  }
  p{
    display: inline-block;
    margin: 0px;
  }
  span{
    font-size: 1.3em;
    margin-left: auto;
    &:hover{
      cursor: pointer;
    }
  }
}
